
				<!-- This code generated from staging Powered by Mahat, Source Machine : stg , Build Number : #2024-07-004 (Updated on 07/07/2024 22:07) on 06/12/2025 10:05:51-->
				@model JmeterPublish.Models.userloginModel
				@{
				ViewData["Title"] = "Login Credentials Recovery";
				Layout = "~/Views/Shared/_LoginLayout.cshtml";
				}

				<div class="login">
				@using(Html.BeginForm("forgotpassword", "users", FormMethod.Post, new { enctype="multipart/form-data", @id = "formId"}))
				{

        
					
				@if(ViewData["message"] != null)
				{
				<div class="row">
				<div class="col-sm-12 col-xs-12">
				<div class="alert alert-danger alert-dismissible ">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">x</span>
				</button>
				Info :  @ViewData["message"]
				</div>
				</div>
				</div>
				}
				@if(TempData["message"] != null)
				{
				<div class="row">
				<div class="col-sm-12 col-xs-12">
				<div class="alert alert-danger alert-dismissible ">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">x</span>
				</button>
				Info :  @TempData["message"]
				</div>
				</div>
				</div>
				}
				@if(TempData["successmessage"] != null)
				{
				<div class="row">
				<div class="col-sm-12 col-xs-12">
				<div class="alert alert-success alert-dismissible ">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">x</span>
				</button>
				Info :  @TempData["successmessage"]
				</div>
				</div>
				</div>
				}
					  	<div class="col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="username">User Name / Email / Mobile</label>
                    <div class="input-group">
                       @Html.TextBoxFor(m => m.username, new {@type="search",@autocomplete="off",@maxlength="128", @class = "form-control   required" })
					 
                      <span class="input-group-addon">
                        <i class="md md-person"></i>
                    </span>
                    </div>
                  </div>
                </div>
				 
				
                         <!--end .col -->
	                    <div class="col-sm-12 col-xs-12 text-center">
		                    <button class="btn cma_primary_button" type="submit">Recover</button>
	                    </div>
	                    <!--end .col -->
                     
	                    <!--end .col -->
	                    <div class="col-sm-12 col-xs-12 text-center">
                                <a href="@Url.Action("Login","users")" class="btn cma_secondary_button button-common "><i class="fa fa-arrow-left"></i></a>
	                    </div>
	                    <!--end .col -->
                     


				 
				}
				</div>
				<script src="~/components/jquery/jquery.validate.js"></script>
				<script src="~/components/jquery/additional-methods.min.js"></script>
				<script>
				$(document).ready(function () {
						$('#formId').validate({
                                        highlight: function(element) {
                                        $(element).closest('.form-group').addClass('has-error');
                                        $(element).closest('.form-group').removeClass('has-success');
                                        $(element).addClass('form-control-error');
                                        $(element).removeClass('form-control-success');
                                        },
                                        unhighlight: function(element) {
                                        $(element).closest('.form-group').removeClass('has-error');
                                        $(element).closest('.form-group').addClass('has-success');
                                        $(element).addClass('form-control-success');
                                        $(element).removeClass('form-control-error');
                                        },
                                        errorElement: 'span',
                                        errorClass: 'help-block'
                                        });
										
										
										 $("#btnSubmit").click(function(){
                                                if ($("#formId").valid()){
                                                        $(".page-loader").show()

														
                                                        $("#formId").submit();
                                                }else{
                                                    validator.focusInvalid();
                                                    swal({
                                                        title: 'Validation Failed!',
                                                        text: "Please check your entry",
                                                        type: 'error',
                                                        buttonsStyling: false,
                                                        confirmButtonClass: 'btn btn-primary'
                                                    })
                                                }
                                            })
				})
				var str = "";
				</script>
				<script>
				$('form:first *:input[type!=hidden]:first').focus();
                   

				</script>
				
