
					<!--This code generated from staging Powered by Mahat, Source Machine : stg , Build Number : #2024-07-004 (Updated on 07/07/2024 22:07) on 06/12/2025 10:05:54 -->
					@using Microsoft.AspNetCore.Http
					@inject IHttpContextAccessor HttpContextAccessor
                    @using Admin;
					@model JmeterPublish.Models.tenantModel
					@{
					ViewData["Title"] = "tenant";
					Layout = "~/Views/Shared/_Layout.cshtml";
					}

					<div class="">
					     
					<div class="">

					      <div id="cma_printableArea">
                           
                            
                            <div class="row printablerow"  style="padding:20px"> 
                              <div class="col-sm-12 col-xs-12 p-1 entityname_craftmyapp_viewcontainer show-on-pdf" style="display:none;text-align:left">
                            <h3>
                            <img src="~/images/logo.png" style="height:60px;width:60px;" alt="logo">
                            <b>tenant</b>
                            </h3>
				
                            <br />
                            </div>
                            <div class="col-sm-4 col-xs-12 p-2 firstname_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label for="firstname">@Resource.tenant_firstname</label><br>
										<span class="auto_cls_firstname"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 lastname_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label for="lastname">@Resource.tenant_lastname</label><br>
										<span class="auto_cls_lastname"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 username_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label for="username">@Resource.tenant_username</label><br>
										<span class="auto_cls_username"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 userrole_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label for="userrole">@Resource.tenant_userrole</label><br>
										<span class="auto_cls_userrole"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 emailid_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label for="emailid">@Resource.tenant_emailid</label><br>
										<span class="auto_cls_emailid"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>
<div class="col-sm-4 col-xs-12 p-2 mobilenumber_craftmyapp_viewcontainer">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label for="mobilenumber">@Resource.tenant_mobilenumber</label><br>
										<span class="auto_cls_mobilenumber"></span>
										<i class="form-group__bar" ></i>
									</div>
								</div>
							</div>

											 
											 
                            </div>
                         </div>
						 <div class="row">
					            <div class="col-sm-12 col-xs-12">
					           
                                 <button type="button" onclick="window.history.back()" class="btn btn-secondary cma_cancel_button cma_back_button waves-effect">@Resource.back</button>            

					            </div>
					        </div>					
  
                    </div>
					
                    <link href="~/components/jquery-colorbox/colorbox.css" rel="stylesheet" />
                    <script src="~/components/jquery-colorbox/jquery.colorbox.js"></script>
                    <link href="~/css/GallaryContent/style.css" rel="stylesheet" />
                    <link href="~/components/starrr/starrr.css" rel="stylesheet" />
					 
					 <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
					<script type="text/javascript">
                     function download() {
                            const element = document.getElementById('cma_printableArea');

                            const elementsToHide = document.querySelectorAll('.show-on-pdf');

                            // Hide the elements
                            elementsToHide.forEach(function (el) {
                            el.style.display = '';
                            });

                            html2pdf()
                            .from(element)
                            .save('tenant.pdf')
                            .then(function () {
                            // Show the hidden elements after generating PDF
                            elementsToHide.forEach(function (el) {
                            el.style.display = 'none';
                            });
                            });
                    }
                    function fill_tenant_view_data(){

                       var  tenantid = getUrlVars()["id"];
                                            $("#viewDetails_Auto").show()
											$(".auto_checker_action").hide()
                                                $.ajax({
												url: '@Url.Action("getById_allinfo_tenant")',
												dataType: 'json',
												data:{tenantid: tenantid },
												success: function(data) {

												var obj=eval(data[0]);
													for (var key in obj) {
													
                                                            
															$(".auto_cls_"+key).html(obj[key]|| '-');
														 	
															

                                                            

													}

                                                    
												}

												})

                   }
                   

					$(document).ready(function () {


					fill_tenant_view_data()


					/*var Actions=getAutho("tenant","list")
					if(Actions == undefined){
					window.location = "@Url.Action("RoleAuthorizationFailed", "users")"
					}*/




					});
					 
					</script>
					 
                    
                    <script type="text/javascript">
                        
                        $(document).ready(function () {
                            
                        });
                    </script>
                    
                    
					
