
			<!-- This code generated from staging Powered by Mahat, Source Machine : stg , Build Number : #2024-07-004 (Updated on 07/07/2024 22:07) on 06/12/2025 10:05:54 -->
			@using Microsoft.AspNetCore.Http
			@inject IHttpContextAccessor HttpContextAccessor
            @using Admin;
			@model JmeterPublish.Models.tenantModel
			@{
			ViewData["Title"] = @Resource.updateretailersinc;

			Layout = "~/Views/Shared/_Layout.cshtml";
			
			}

			@using(Html.BeginForm("Update_tenant", "tenant", FormMethod.Post, new { enctype="multipart/form-data", @id = "formId"}))
			{

			<div class="card card-block contCard"><!--Form_Main_Card-->
				<div class="mobileHeader"><!--form_card_header-->
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<h4 class="formHdr">@Resource.updateretailersinc</h4>
						</div>
					</div>
				</div><!--form_card_header-->
				<!--form_error_display-->
				@if(ViewData["message"] != null)
				{
				<div class="row">
				<div class="col-sm-12 col-xs-12">
				<div class="alert alert-danger alert-dismissible ">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">x</span>
				</button>
				Info :  @ViewData["message"]
				</div>
				</div>
				</div>
				}
				
				
				 
				
				<!--form_error_display-->
				<div class=""><!--form_inner_card-->
					<div class="card-block"><!--form_inner_card_block-->
					    @Html.HiddenFor(m => m.tenantid)
                            
						 

						
						<div class="row"><!--field_container_row-->
							<!--fieldsStartsHere-->
						       		
								<div class="col-sm-4 col-xs-12 p-2 firstname_craftmyapp_container">
						<div>
							<div class="form-group" > 
								<label for="firstname">@Resource.tenant_firstname <b class="iconRed">*</b></label>
                                @Html.TextBoxFor(m => m.firstname, new {@type="text",@maxlength="50", @class = "form-control form-control-lg mahat_transliterate required" })

							     @Html.ValidationMessageFor(model => model.firstname)
							</div>
						</div>
					</div>
<div class="col-sm-4 col-xs-12 p-2 lastname_craftmyapp_container">
						<div>
							<div class="form-group" > 
								<label for="lastname">@Resource.tenant_lastname</label>
                                @Html.TextBoxFor(m => m.lastname, new {@type="text",@maxlength="50", @class = "form-control form-control-lg mahat_transliterate " })

							     @Html.ValidationMessageFor(model => model.lastname)
							</div>
						</div>
					</div>
<div class="col-sm-4 col-xs-12 p-2 username_craftmyapp_container">
						<div>
							<div class="form-group" > 
								<label for="username">@Resource.tenant_username <b class="iconRed">*</b></label>
                                @Html.TextBoxFor(m => m.username, new {@type="text",@maxlength="150", @class = "form-control form-control-lg mahat_transliterate required" })

							     @Html.ValidationMessageFor(model => model.username)
							</div>
						</div>
					</div>
@Html.Hidden("userrole","Retailers Inc Admin")

<div class="col-sm-4 col-xs-12 p-2 emailid_craftmyapp_container">
						<div>
							<div class="form-group" > 
								<label for="emailid">@Resource.tenant_emailid <b class="iconRed">*</b></label>
                                @Html.TextBoxFor(m => m.emailid, new {@type="email",@maxlength="128", @class = "form-control form-control-lg required" })

							     @Html.ValidationMessageFor(model => model.emailid)
							</div>
						</div>
					</div>
<div class="col-sm-4 col-xs-12 p-2 mobilenumber_craftmyapp_container craftmyapp_phone_container">
						<div>
							<div class="form-group" > 
								<label for="mobilenumber">@Resource.tenant_mobilenumber <b class="iconRed">*</b></label>
                                <input type="tel" name="mobilenumber_ip" id="mobilenumber_ip" class="form-control  required">
@Html.HiddenFor(m => m.mobilenumber, new {@class = "invalidphone" })

							     @Html.ValidationMessageFor(model => model.mobilenumber)
							</div>
						</div>
					</div>


							<!--fieldsEndsHere-->	
						</div><!--field_container_row-->


						<div class="card-block"><!--form_button_card_block-->
							<button type="button" onclick="window.history.back()"  class="btn btn-secondary cma_cancel_button waves-effect">@Resource.back</button>
							<button type="button" id="btnSubmit" class="btn cma_primary_button  cma_save_button waves-effect pull-right">@Resource.updateretailersinc</button>
						</div><!--form_button_card_block-->


					</div><!--form_inner_card_block-->
				</div><!--form_inner_card-->
			</div><!--Form_Main_Card-->

			}<!--EndFORM-->


			
			 <!--from_cma_script-->
			 
			
			<script>
$(document).ready(function () {
var mobilenumber_input = document.querySelector("#mobilenumber_ip");
        var itimobilenumber_input = window.intlTelInput(mobilenumber_input, {
            nationalMode: true,
            initialCountry: "in",
            preferredCountries: ['us','in','sg']
        });
        itimobilenumber_input.setNumber($('#mobilenumber').val());
        var handleChange_mobilenumber_input = function () {
        var text = "";
        if(itimobilenumber_input.getNumber())
              text = (itimobilenumber_input.isValidNumber()) ? itimobilenumber_input.getNumber() : "invalid";
             $('#mobilenumber').val(text);
        };

        // listen to "keyup", but also "change" to update when the user selects a country
        mobilenumber_input.addEventListener('change', handleChange_mobilenumber_input);
        mobilenumber_input.addEventListener('keyup', handleChange_mobilenumber_input);

        mobilenumber_input.addEventListener("countrychange", function () {
            $('#mobilenumber_ip').val("");
            $('#mobilenumber').val("");
        })
})
</script>

			
			
			
			
			<script>
            
			
			
			</script>
			
  
 
                            <script>
                            var posturl='';
                            </script>

                             @if (Model == null)
                             {
	                             <script>
                                posturl = '@Url.Action("Create_tenant")';
	                            </script>
                            }else{
	   
	                                <script>
                                                   posturl = '@Url.Action("Update_tenant")';
			 
						                                  </script>    			              
                              
	 
							                            ViewData["Title"] = @Resource.updateretailersinc;
						                                 <script>
                   
					                                 $("#btnSubmit").html("@Resource.updateretailersinc")
						                                  </script>    
 
 
                            }

<script>
$(document).ready(function () {
	
	
           
                $.validator.addMethod("invalidphone", function (value, element) {
                if (value == 'invalid') {
                return false;
                }
                return true;
                }, "Please enter valid value");

                                        $('#formId').validate({
                                        ignore: ":hidden:not(.invalidphone)",
                                        highlight: function(element) {
                                        $(element).closest('.form-group').addClass('has-error');
                                        $(element).closest('.form-group').removeClass('has-success');
                                        $(element).addClass('form-control-error');
                                        $(element).removeClass('form-control-success');
                                        },
                                        unhighlight: function(element) {
                                        $(element).closest('.form-group').removeClass('has-error');
                                        $(element).closest('.form-group').addClass('has-success');
                                        $(element).addClass('form-control-success');
                                        $(element).removeClass('form-control-error');
                                        },
                                        errorElement: 'span',
                                        errorClass: 'help-block',
                                        errorPlacement: function (error, element) {
                                                    if (element.hasClass("invalidphone")) {
                                                        error.addClass("invalidphoneerror");
                                                        error.insertAfter(element);
                                                    } else {
                                                        error.insertAfter(element);
                                                    }
                                                }
                                        });
 	 
var validator = $("#formId").validate({ /* settings */ });
 
$("#btnSubmit").click(function(){
 
 
 

 
 

if ($("#formId").valid()){
 $(".page-loader").show()
 
 var form = $('#formId')[0];
 var formdata = new FormData(form);

 

 
 
 
 

 
$.ajax({
url: posturl,
type:'POST',
enctype: 'multipart/form-data',
processData: false,   
contentType: false,
cache: false,
data: formdata,
success: function(data) {
  
  $(".page-loader").hide();
 if(data=="Success"){
 $(".page-loader").hide();

                                if("@Context.Session.GetString("JmeterPublishusername")" == null || "@Context.Session.GetString("JmeterPublishusername")" == "")
                                 window.location = "@Url.Action("Login", "users")";
 	var Actions_=getAutho("tenant","list")
	if(Actions_ !=  undefined)
	{
		var list_URL = "@Url.Action("entry.viewname", "tenant")"
		                                                                list_URL = list_URL.replace("entry.viewname", Actions_.actionmethodname);
		                                                                window.location=list_URL;
	 
	}
   
 }
    else {
                                $(".page-loader").hide();
                                swal({
                                    title: "Error !!",
                                    text: data,

                                    type: "error",
                                    showCancelButton: false,
                                    confirmButtonText: "OK",
                                })


                            }

 
},
	error: function(jqXHR, textStatus, errorThrown) {
	if (JSON.stringify(jqXHR.responseText) == "\"API Authorization failed\"")
	{
	swal({
	title: 'Failed!',
	text: jqXHR.responseText,
	type: 'error',
	buttonsStyling: false,
	confirmButtonClass: 'btn btn-primary',
	allowOutsideClick: false
	}).then(function() {
	window.location = "@Url.Action("AuthorizationFailed", "users")"
	}) 
	}
	else
	{
	swal({
	title: 'Contact Administrator !',
	text: jqXHR.responseText,
	type: 'error',
	buttonsStyling: false,
	confirmButtonClass: 'btn btn-primary'
	}) 
	}
	}
})




}else{
validator.focusInvalid();
swal({
title: 'Validation Failed !',
text: "Please check your entry",
type: 'error',
buttonsStyling: false,
confirmButtonClass: 'btn btn-primary'
 })
}
})
})


</script>

			
			
            
            

			 
             
                


			 <!--to_cma_script-->
			
<script>
					$(document).ready(function () {
						 
						$("#tenantid").change(function(){
								 
						})
					

					});
					</script>



